/* color palette from <https://github.com/vuejs/theme> */

:root {
    --app-color: #83ba43;
    --green: hsla(160, 100%, 37%, 1);
    --text-faded: #6c757d;
    --shadow-sm: 0 .125rem .25rem rgba(0, 0, 0, .075);
    --shadow-lg: 0 1rem 3rem rgba(0, 0, 0, .175);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    font-size: 1rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}